# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp
/.env
/public/system
/public/test

# Ignore JS dependencies
/node_modules
/lib/assets/bower_components
/npm-debug.log
